# IDEs and editors
.vscode/
.idea/
*.iml

# NetBeans project files
nbproject/

# Build output
bin/
build/
out/
target/

# Build scripts
build.xml
*.class

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Eclipse
.settings/
.project
.classpath
.fake