*{
    -fx-text-fill: #ffffff;
}

Text {
    -fx-fill: #ffffff;
}

TextFlow {
    -fx-background-color:#424549;
}

.root {
    -fx-background-color:#1e2124;
}

.anchor-pane {
    -fx-background-color:#1e2124;
}

.button {
    -fx-background-radius: 50;
    -fx-background-color: #7289da;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
}

.calendar-grid {
    -fx-background-color: #36393e;
}

.combo-box {
    -fx-background-color:#829bf7;
    -fx-text-fill: #000000;
}

.combo-box-popup {
    -fx-background-color:#829bf7;
    -fx-text-fill: #000000;
}

.combo-box-popup .list-view {
    -fx-background-color:#7289da;
    -fx-text-fill: #000000;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-cell {
    -fx-background-color: #7289da;
    -fx-text-fill: #000000;
    -fx-cell-size: 1.66667em;
}

.date-picker {
    -fx-background-color: #424549;
    -fx-border-color: #424549;
}

.date-picker > .text-field {
    -fx-border-color: #424549;
}

.date-picker .arrow-button {
	-fx-background-color: #36393e;
}

.date-picker .arrow-button .arrow {
	-fx-background-color:#ffffff;
}

.date-picker-popup {
    -fx-border-color: #282b30;
    -fx-background-color: #282b30;
}

.date-picker-popup > * > .day-cell{
    -fx-background-color: #424549;
    -fx-border-color: #424549;
}

.date-picker-popup > .month-year-pane {
	-fx-background-color: #282b30;
}

.date-picker-popup .week-number-cell {
    -fx-background-color: #36393e;
}

.dialog {
    -fx-background-color:#1e2124;
}

.dialog:header *.header-panel {
    -fx-background-color:#1e2124;
}

.label {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: #36393e;
}

.scroll-bar .increment-button ,
.scroll-bar .decrement-button {
    -fx-background-color : #585c61;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-background-color : #36393e;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #585c61;
}

.scroll-pane {
    -fx-background:#585c61;
    -fx-border-color:#585c61;
}

.text-area {
    -fx-background-color:#424549;
}

.text-area .content {
    -fx-background-color:#424549;
    -fx-border-color:#424549;
}

.text-field {
    -fx-background-color:#424549;
}

.toggle-button {
    -fx-background-radius: 50;
    -fx-background-color: #829bf7;
    -fx-text-fill: #000000;
}

.toggle-button:selected {
    -fx-background-color: #7289da;
}

#courseButton {
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-border-color:#36393e;
}

#courseVBox {
    -fx-background-color:#282b30;
}

#headerBackground {
    -fx-background-color: #7289da;
}

#mainMenuSpecificPane {
    -fx-background-color: #36393e;
}

#mainMenuSpecificPane {
    -fx-background-color: #36393e;
}

#researchButton {
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-border-color:#36393e;
}

#userButton {
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-border-color:#36393e;
}

#userPane {
    -fx-background-color:#424549;
    -fx-background-radius: 5;
    -fx-border-color: #36393e;
}
